* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

.project-section {
    width: 100%;
    margin: auto;
    margin: 100px 0px;
    /* border: 1px solid black; */
}

.projects-head {
    height: 10%;
    width: 100%;
    margin: 40px 0 20px 0;
    text-align: center;
}

.projects-head h2 {
    font-size: 31px;
    font-weight: 600;
    color: #000;
    padding: 20px 0px;
}

.projects-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin: 20px 20px;
    padding: 20px 20px;
    border-radius: 15px;
    /* border: 1px solid black; */
}

.prj-1,
.prj-2,
.prj-3,
.prj-4 {
    height: 100%;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.prj-1 img,
.prj-2 img,
.prj-3 img,
.prj-4 img {
    height: 80%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.prj-1 div:nth-child(1),
.prj-2 div:nth-child(1),
.prj-3 div:nth-child(1),
.prj-4 div:nth-child(1) {
    width: 60%;
    height: 100%;
}

.prj-1 div:nth-child(2),
.prj-2 div:nth-child(2),
.prj-3 div:nth-child(2),
.prj-4 div:nth-child(2) {
    width: 40%;
    height: 100%;
}

.prj-1 div:nth-child(2) h2,
.prj-2 div:nth-child(2) h2,
.prj-3 div:nth-child(2) h2,
.prj-4 div:nth-child(2) h2 {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.prj-1 div:nth-child(2) p,
.prj-2 div:nth-child(2) p,
.prj-3 div:nth-child(2) p,
.prj-4 div:nth-child(2) p {
    font-size: 11px;
    font-weight: 400;
    padding: 5px 0;
}

.prj-1-tools,
.prj-2-tools,
.prj-3-tools,
.prj-4-tools {
    display: flex;
    gap: 20px;
    width: 100%;
    /* border: 1px solid black; */
}

.prj-1-tools img,
.prj-2-tools img,
.prj-3-tools img {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.prj-4-tools img {
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.prj-1-links,
.prj-2-links,
.prj-3-links,
.prj-4-links {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    width: 100%;
}

.prj-1-links a,
.prj-2-links a,
.prj-3-links a,
.prj-4-links a {
    width: 50%;
    height: 40px;
    background-color: yellow;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: 600;
}

.prj-1-links a:hover,
.prj-2-links a:hover,
.prj-3-links a:hover,
.prj-4-links a:hover {
    background-color: #000;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .projects-cont {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 350px) {

    .projects-head {
        width: 100%;
        margin: auto;
        /* border: 1px solid black; */
    }

    .prj-1,
    .prj-2,
    .prj-3,
    .prj-4 {
        width: fit-content;
        flex-direction: column;
    }

    .prj-1 div:nth-child(1),
    .prj-2 div:nth-child(1),
    .prj-3 div:nth-child(1),
    .prj-4 div:nth-child(1) {
        width: 100%;
        height: 100%;
    }

    .prj-1 div:nth-child(2),
    .prj-2 div:nth-child(2),
    .prj-3 div:nth-child(2),
    .prj-4 div:nth-child(2) {
        width: 100%;
        height: 100%;
    }

    .projects-head h2 {
        font-size: 25px;
    }

    .prj-1-tools img,
    .prj-2-tools img,
    .prj-3-tools img,
    .prj-4-tools img {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 375px) {
    .projects-cont {
        width: 100%;
    }

    /* .prj-1,
    .prj-2,
    .prj-3,
    .prj-4 {
        width: 100%;
        display: block;
        width: 100%;
    }

    .prj-1 div:nth-child(1) img,
    .prj-2 div:nth-child(1) img,
    .prj-3 div:nth-child(1) img,
    .prj-4 div:nth-child(1) img {
        width: 100%;
        height: 50%;
    }

    .prj-1 div:nth-child(2),
    .prj-2 div:nth-child(2),
    .prj-3 div:nth-child(2),
    .prj-4 div:nth-child(2) {
        width: 100%;
        height: 50%;
        display: block;
    } */
}

@media screen and (max-width:425px) {


    .projects-cont {
        width: 100%;
    }

    .prj-4-links a {
        width: 100%;
    }
}

@media screen and (min-width:568px) {

    .prj-1-tools img,
    .prj-2-tools img,
    .prj-3-tools img,
    .prj-4-tools img {
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width:768px) {

    .prj-1-tools img,
    .prj-2-tools img,
    .prj-3-tools img,
    .prj-4-tools img {
        width: 40px;
        height: 40px;
    }

    .prj-4-links a:nth-child(1) {
        width: 100%;
    }
}

@media screen and (max-width:1024px) {

    .prj-1-tools img,
    .prj-2-tools img,
    .prj-3-tools img,
    .prj-4-tools img {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 425px) and (max-width: 768px){

    .projects-cont {
        width: 100%;
    }

    .prj-1-tools img,
    .prj-2-tools img,
    .prj-3-tools img,
    .prj-4-tools img {
        width: 20px;
        height: 20px;
    }
}